@charset "UTF-8";

*{
    /*aqui está os resets globais do site*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /*Tamanho das letras*/
    line-height: 1.5em; /*Espaço vertical entre as linhas de texto*/
    background-image: url(img/fibonati.jpg);
    background-size: cover; /*A imagem de ajusta a tela inteira*/
    background-repeat: no-repeat; /*A imagem não ira se repedir*/
    background-position: center; /*Imagem ira ficar no centro da tela*/
}
/*########################################( HEADER )###########################################*/
header {
    display: flex; /*deixou a caixa manuseavel*/
    align-items: center; /*alinhou os itens ao centro*/
    gap: 1rem; /*distancia entre os itens*/
  }
  
  .menu {
    display: flex;
    gap: 1rem;
    margin-left: auto; /*margin-left: auto empurra o nav para o final do flex*/
  }

  .menu-btn { /*Configurções do icone de menu*/
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 20px;
  }
  
  
  .menu a { /*configurações dos itens do menu*/
    margin: 5px;
    padding: 10px;
    background: lightgreen;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 150px;
  }


  @media (max-width: 768px) { /*largura maxima de 780px*/
    .menu-btn {
      display: block; /*o iconi não aparecerá no desktop*/
    }
  
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-left: 0;
    }
  
    .menu.active {
      display: flex;
    }
  
    .menu a {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }

.logo { /*Configurações do logo*/
    display: block;
    width: clamp(60px, 12vw, 140px); /*largura*/
    height: auto; /*altura*/
    margin: 15px;
    border-radius: 50%; /*bordas arredondadas*/
    border: 2px solid black;
}

/*Titulo da pagina*/
h1 {
    max-width: 760px;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    line-height: 1;
    color: white;
    text-shadow: 2px 2px 3px black;
}

/*Icons de navegação*/
nav {
    max-width: 760px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px; /*distancia "0" em cima e baixo, "20px" esquerda e direita*/
    margin-left: auto; /*margin-left: auto empurra o nav para o final do flex*/
}

/*Configurações do menu*/
a {
    margin: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: lightgreen;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
    font-weight: bold;
    width: 100%;
    max-width: 250px;
    padding: clamp(6px, 2vw, 12px)
}

header > nav > a:hover { /*Animação do menu*/
    background-color: rgba(0, 0, 0, 0.623);
    color: rgb(255, 255, 255);
    transition: background-color .5s;
}
/*########################################( MAIN )###########################################*/
.nn {
    color: white;
    margin: 0 0 100px 0;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    border: 1px solid black;
    padding: 20px;
    background-color: hsla(120, 73%, 75%, 0.37);
}

main {
    display: flex;
    flex-flow: row wrap; /*essa propriedade faz os projetos quebrarem um abaixo do outro*/
    justify-content: space-evenly;
    gap: 30px;
}

/*########################################( CARDS )###########################################*/
.cards {
    margin: 0 20px; /*espaços cima e baixo ( 0 ), direita e esquerda ( 20 )*/
    text-align: center; /*texto alinhado ao centro*/
    padding: 30px; /*espaço interno/bordas para todos os lados de 30px*/
    border-radius: 20px; /*arredondamento dos cantos*/
    border: 1px solid black;
    box-shadow: 2px 3px 3px black;
    flex: 1 1 300px;
    max-width: 350px;
}

.foto-logo {
    width: 100%;          /* ocupa a largura do card */
    max-width: 100%;      /* nunca ultrapassa */
    height: auto;         /* mantém proporção */
    border-radius: 20px;
    margin: 30px 0;
    border: 2px solid black;
    object-fit: cover;    /* evita distorção */
}

.descricao {
    font-weight: bold;
}


.btn {
    padding: 12px;
    background-color: lightgreen;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.623)
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.623);
    transition: background-color .3s;
    color: white;
}

/*######################################( CLIENTES )###########################################*/
.nn2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 20px;
    margin: 50px 0;
    text-shadow: 2px 2px 3px black;
    border: 1px solid black;
    background-color: hsla(120, 73%, 75%, 0.37);
}

.op { /*elemento pai*/
    display: flex;
    flex-wrap: wrap; /*quebra linha automaticamente*/
    gap: 10px; /*distancia entre os itens*/
    padding: 10px; /*espaço interno*/
    justify-content: center; /*itens justificados ao centro*/
}

.op img { /*configurações responsivas de imagens*/
    flex: 1 1 150px; /*1 - cresce igualmente com os outros / 1 - pode encolher. / 150px - É o tamanho inicial do item antes de crescer ou encolher.*/
    max-width: 200px; /*Define a largura máxima que um elemento pode ter.*/
    height: 450px; /*altura de 450px*/
    object-fit: cover; /*imagem não distorce*/
    border-radius: 8px; /*bordas da imagem redondas*/
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .op img:hover {
    transform: scale(1.5);
  }

.coment {
    padding: 20px;
    margin: 0px 30px;
    width: 400px;
    height: 120px;
    font-weight: bold;
    box-shadow: 2px 5px 5px lightgreen;
    border-radius: 5px;
    border: 1px solid lightgreen;
    background-color: rgba(127, 255, 212, 0.226);
}

span {
    color: black;
    padding: 10px;
}

.stars {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
}

.att {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.att-h2 {
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-top: 50px;
}

.btn-w {
    display: flex;
    border: 2px solid black;
    padding: 15px 10px;
    border-radius: 25px;
    font-weight: bold;
    background-color: lightgreen;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-top: 40px;
}

.iconw {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.btn-w:hover {
    background-color: rgba(0, 0, 0, 0.623);
    transition: background-color .3s;
    color: white;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(127, 255, 212, 0.226);
}

.conteudo-footer {
    font-weight: bold;
}